node_modules
package-lock.json
/.archive
/*.zip
*.css.d.ts
*.map
*.js
!*.config.js
*.js.LICENSE.txt
/src/*.map
/src/*.js
/src/widgets/disclaimer/*.map
/src/widgets/disclaimer/*.js
/src/widgets/cookies/*.map
/src/widgets/cookies/*.js
